body {
  background-color: #333333;
}

#cardImage {
  width: min(400px, 90vw);
  border-radius: 5px;
}

#card {
  position: absolute;
  left: 50%;
  top: 12%;
  text-align: center;
  transform: translate(-50%, 0%);
}

#cardName {
  font-size: min(35px, 5vw);
  color: white;
  letter-spacing: 4px;
  word-spacing: 5px;
  font-family: 'Beleren Bold';
}

#cardMana {
  font-size: 30px;
  font-size: min(30px, 4vw);
  color: white;
  letter-spacing: 4px;
  word-spacing: 5px;
  font-family: 'Beleren Bold';
}

#wrongGuess {
  font-size: 25px;
  color: white;
  letter-spacing: 1px;
  font-family: 'Beleren Bold';
}

.manaSymbol {
  width: min(30px, 4vw);
}

#keyboardContainer {
  position: absolute;
  top: min(calc(12% + 500px), calc(100vw + 12%));
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
}

#keyboard li.correct {
  background: #292929 !important;
  color: #444 !important;
  border-color: rgba(135, 46, 46, 0);
  border-width: 1px;
  border-style: solid;
}

#keyboard li.incorrect {
  background: #292929 !important;
  color: #444 !important;
  border-color: rgba(135, 46, 46, 100);
  border-width: 1px;
  border-style: solid;
}

#keyboard li {
  float: left;
  margin: 0 5px 5px 0;
  width: min(50px, 7vw);
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #151515;
  color: #bbb;
  border-color: rgba(135, 46, 46, 0);
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  font-family: 'Beleren Bold';
  transition: border-color .5s;
  transition: color .5s;
  transition: background .5s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

#keyboard .qKey {
  margin-left: max(calc(50vw - 280px), calc(15vw - 30px));
}

#keyboard .aKey {
  clear: left;
  margin-left: max(calc(50vw - 255px), calc(18.5vw - 27px));
}

#keyboard .zKey {
  clear: left;
  margin-left: max(calc(50vw - 210px), calc(24vw - 24px));
}

#keyboard li:hover {
  position: relative;
  top: 1px;
  left: 1px;
  color: #ccc;
  background: #252525;
  cursor: pointer;
}
